/********** reset **********/
html, body, section, div, h1, h2, p, span, ul, li, a, form, input, textarea,
button {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  background: transparent;

  font: inherit;
  color: inherit;

  text-decoration: none;
}

ul {
  list-style: none;
}

.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  font-size: 2.5em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
