/********** reset **********/
html, body, section, div, h1, h2, p, span, ul, li, a, form, input, textarea,
button {
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;

	background: transparent;

	font: inherit;
	color: inherit;

	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	background: #FDF6E3;
	color: #657B83;
	font-family: 'Courier New', monospace;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
}

/********** clear-fix **********/
.group:after {
	content: "";
	display: block;
	clear: both;
}

/********** nav-bar **********/
nav {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;

	background: #EEE8D5;
}

.nav-content {
	width: 900px;
	margin: 0 auto;
}

.circle-block {
	height: 40px;
	width: 40px;
	padding: 10px;
	border-radius: 50%;
	
	margin: 0 auto;

	background: #FDF6E3;
}

.circle-block:hover {
	cursor: pointer;
	background: #002B36;
	color: #839496;
}

.circle-block h1 {
	margin: 7px 0;
	font-size: 26px;
	line-height: 1em;
	text-align: center;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.nav-list li {
	float: left;
	margin: 0 50px;
	height: 40px;
	padding: 10px;

	font-family: 'Courier New', monospace;
	font-weight: 400;
}

.nav-list li a {
	margin: 10px 0;
	display: block;
}

.nav-list li a:hover {
	cursor: pointer;
	border-bottom: 2px solid #657B83;
}

/********** centered content **********/
.content {
	position: relative;
	padding: 100px 0;
	height: calc(100% - 200px);
	width: 900px;
	margin: 0 auto;
}


/********** greeting **********/
#greeting {
	position: relative;
}

#greeting_container {
	position: absolute;

	width: 900px;
	height: 200px;
	top: 50%;
	margin-top: -100px;
}

#greetings h1,
#greetings h2 {
	width: 700px;
	margin: 0 100px;
}

#greeting h1 {
	font-size: 72px;
	font-weight: 700;
}

#greeting h2 {
	margin-bottom: 5px;
	font-size: 20px;
	font-family: 'Courier New', monospace;
	font-weight: 400;
}

#greeting h2 span:hover {
	background: #002B36;
	color: #839496;
}

/********** about **********/
#about_content {
	position: absolute;
	top: 50%;
	height: 500px;
	margin-top: -250px;
}

#about_me img {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#about_me h1 {
	font-size: 36px;
	font-weight: 700;
}

#about_me p {
	margin: 10px 0;
	font-family: 'Courier New', monospace;
	font-size: 16px;
}

/********** skills **********/
#skills_content {
	position: absolute;
	top: 50%;
	height: 300px;
	margin-top: -150px;
}

#skills h1 {
	font-size: 36px;
	font-weight: 700;
}

#skills img {
	width: 100%;
	height: auto;
}

#skill_list {
	margin: 20px 0;
}

#skill_list li {
	float: left;
	width: 100px;
	height: 120px;
	margin: 0 25px;
	margin-bottom: 25px;
}

#skill_list li p {
	font-family: 'Courier New', monospace;
	font-size: 16px;
	text-align: center;
}

/********** projects **********/
#projects_content {
	position: absolute;
	top: 50%;
	height: 420px;
	margin-top: -210px;
}
#projects h1 {
	font-size: 36px;
	font-weight: 700;
}

#projects p {
	margin: 10px 0;
	font-family: 'Courier New', monospace;
	font-size: 18px;
}

#project_list {
	margin: 10px 0;
}

#project_list > li {
	float: left;
	width: 280px;
	padding: 0 10px;
}

#project_list h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.feature-list {
	padding-left: 15px;
	list-style: circle;
}

.feature-list,
#project_list p {
	font-size: 14px;
}

#project_list img.preview {
	width: 100%;
	height: auto;
}

.github-link {
	display: inline;
	height: 18px;
	width: auto;
	opacity: 0.5;
}

.github-link:hover {
	opacity: 0.6;
}

/********** contact **********/
#contact_content {
	position: absolute;
	top: 50%;
	height: 450px;
	margin-top: -225px;
}
#contact h1 {
	font-size: 36px;
	font-weight: 700;
}

#contact p {
	margin: 10px 0;
	font-family: 'Courier New', monospace;
	font-size: 18px;
}

#contact_form {
	width: 380px;
	padding: 0 10px;

	float: left;
}

#contact_form input, 
#contact_form textarea {
	background: #FFF;
	padding: 5px;
	width: calc(100% - 10px);
	font-family: 'Courier New', monospace;
	font-size: 16px;
	margin: 10px 0;
	border: 0;
	outline: 0;
}

#contact_form textarea {
	resize: none;
	height: 120px;
}

#contact_form button {
	width: 100%;
	padding: 5px 10px;
	background: #2AA198;
	color: #FFF;

	box-shadow: 0 2px 0 #168D84;
}

#contact_form button:hover {
	background: #859900;
	
	box-shadow: 0 2px 0 #717100;
}

#contact_form button:active {
	margin-top: 2px;
	box-shadow: none;
}

#resume_section {
	position: relative;
	height: 100%;
	width: 480px;
	padding: 0 10px;
	float: right;
} 

#resume_section a {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;

	opacity: 0.5;
}

#resume_section img {
	width: 100%;
	height: auto;
}

#resume_section a:hover {
	opacity: 0.6;
}
